@import url('https://fonts.googleapis.com/css?family=Montserrat');
.App{background-color:transparent;}
.alarm-modal__flex {
    display: flex;
    justify-content: space-between;
}
* {
    font-family: "Montserrat";
}
a{text-decoration: none!important;}
body {
    background: #232a32!important;
    /* padding: 0px 30px;   */
    /*font-family: 'Montserrat'!important;*/
}
.min-h-full-screen{
    align-items: normal!important;
    background: #232a32;
}
.makeStyles-card-3 {
    background: transparent!important;
}
nav#mainNav {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;padding:3px 10px;
}
div#navbarResponsive ul {
    display: flex;
    justify-content: flex-end;
}
.search {
    height: 38px;
    width: 360px;
    color: #fff;
    background: #2f3945;
    border-radius: 100px;
    padding: 0 15px;
    border: none;
}
.search .css-yk16xz-control {
    background: transparent!important;
    border: none!important;
}
.WalletBar {
    display: none;
}
.HomeNavBar {
    margin-bottom: 30px;
}
.search input{font-size: 14px;}
input#search {
    height: 38px;
    width: 360px;
    color: #fff;
    background: #2f3945;
    border-radius: 100px;
    padding: 0 15px;
    border: none;
}
.Card .Header {
    background: #1e242c;
    color: #9ca7b4;
}
.navbar-nav.ms-auto {
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: center;
}

#navbarResponsive ul.navbar-nav li a {
    color: #87919d;
    padding: 0 4px !important;
}

#navbarResponsive ul.navbar-nav li a .button {
    font-weight: bold;
    font-size: 16px;
    background: #ebcc86;
    color: #2f3945;
    padding: 6px 15px;
    border-radius: 100px;
    display: inline-block;
}

.search {
    margin-left: 50px;
}

.sidebar_div {
    background: #2c343e;
    margin-bottom: 30px;
    border-radius: 12px;
    color: #87919d;
    max-width: 225px;
    margin-left: -7px;
}
div#tv_chart_container {
    background: #131722;
    border-radius: 12px;
    padding: 11px;
}
body.chart-page.unselectable.on-widget {
    background-color: transparent!important;
}
.ExplorerPage .Row .Chart {
    margin-left: 30px;
    background: transparent;
    margin-bottom: 20px;
}
.ExplorerPage .col-md-7 {
    padding-right: 25px;
}
.card .Header {
    background-color: #1e242c!important;
    background: #1e242c!important;
    color: #9ca7b4;
    text-align: center;
    padding: 20px 0;
    text-transform: uppercase;
    font-size: 17px;
    background: red;
}
.Card .Body {
    background: #2c343e;
    margin-bottom: 30px;
    border-bottom: 12px;
    color: #87919d;padding: 10px;
}
.ExplorerPage .tokenInfo h2 {
    color: #ebcc86!important;}
    .tokenInfo .Bell {
    background: #20262f!important;
    width: 36px;
    height: 36px;
    margin-right: 10px;
    font-size: 22px;
    text-align: center;
    color: #9ca7b4;
    border-radius: 6px;
    padding: 3px;
}
.ExplorerPage .tokenPrice h1 {
    font-size: 18px;
    margin-top: 12px;
    color: #9ca7b4;
    margin-bottom: 1px;
}
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 100%;
}
.ExplorerPage .tokenPrice h3 {
    color: #87919d!important;}
    .ExplorerPage .tokenPrice h3 .plus{color:#15dac7!important;}
    .ExplorerPage .textWithSmallButton p {
        color: #87919d!important;
        width: 100%;
        font-size: 11px;
        font-weight: 600;
        margin: 0;
    }
    p.tag_btn {
        position: relative;
    }   
    a#dropdownMenuButton1 {
        position: absolute;
        right: 0;
        top: -23px;
    }
.ExplorerPage .textWithSmallButton .button {
    color: #b2b9c1;
    padding: 4px 15px;
    border-radius: 100px;
    float: right;
    text-decoration: none;
    background: #272f38;
}.ExplorerPage .textWithSmallButton .button {
    color: #b2b9c1;
    padding: 4px 15px;
    border-radius: 100px;
    float: right;
    text-decoration: none;
    background: #272f38;
}
.SocialNav li a {
    color: #87919d!important;}
.SocialNav li a:hover {
    color: #fff!important;}

nav#sidebar h4 {
    background: #1e242c;
    color: #9ca7b4;
    text-align: center;
    padding: 20px 0;
    text-transform: uppercase;
    font-size: 17px;
}

.sidebar .nav:not(.sub-menu) {
    margin: 0 20px;
    border-bottom: 1px solid #5d666a;
}

.bnb .sym-name {
    color: #ebcc86!important;
}

li.nav-item.bnb span {
    color: #6c7383;
    font-size: 16px;
    text-transform: uppercase;
    padding: 0 0 10px;
}
li.nav-item.bnb img {
    margin-right: 5px;
    width: 22px;
}
li.nav-item.alert_icon a {
    background: #20262f !important;
    width: 36px;
    height: 36px;
    margin-right: 10px;
    font-size: 22px;
    text-align: center;
    color: #9ca7b4;
    border-radius: 6px;
    padding: 3px;
}



.alert_icon {
    width: 100%;
    display: flex;
}

li.nav-item.alert_icon {
    margin: 15px 0;
}

a.nav-link:hover .show_hover {
    display: block;
}

a.nav-link:hover .hide_hover {
    display: none;
}

li.nav-item.alert_icon a:hover {
    background: #20262f !important;
}

.price h5 {
    font-size: 19px;
    margin-top: 12px;
    color: #9ca7b4;
    margin-bottom: 1px;
    font-weight: 600;
}
.makeStyles-card-16 {
    max-width: 100%;
}

.makeStyles-card-14 {
    max-width: 100%;
}
li.nav-item.alert_icon a:last-child svg:hover {
    COLOR: #15dac7;
}
li.nav-item.alert_icon a svg:hover {
    COLOR: #f35451;
}
.price h5 span {
    color: #cad1d9;
}
.price p {
    font-weight: 500;
    color: #87919d;font-size: 13px;
}
.search .react-select-custom__control.css-yk16xz-control {
    background: transparent!important;
}
.search .react-select-custom__control {
    background: #2f3945!important;
    border: none!important;
}
.price p span{color:#15dac7}
.copy {
    background: #1e242c;
    color: #fff;
    padding: 7px 11px;
    border-radius: 100px;
    margin: 15px 0;
    font-size: 10px;
    width: 100%;
    font-weight: 300;cursor: pointer;    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 38px;
    position: relative;
}
.copy span {
    position: absolute;
    right: 9px;
    top: 9px;
}
.copy:hover i{
    color: #15dac7;
}

.copy i {
    float: right;
}

.market_cap p {
    font-weight: 600;
    margin-bottom: 12px;
    font-size: 12px;
}

.show_hover {
    display: none;
}

.market_cap {
    border-bottom: 1px solid #5d666a;
    margin-bottom: 35px;
    padding: 10px 0;width: 100%;
}

.market_cap p span {
    color: #cad1d9;
}

.pans p {
    color: #87919d;
    margin-bottom: 15px!important;
    display: inline-block;
    width: 100%;
    font-size: 11px;
    font-weight: 600;
}

.pans p a {
    color: #b2b9c1;
    padding: 4px 15px;
    border-radius: 100px;
    float: right;
    display: inline-block;
    text-decoration: none;
    background: #272f38;
}.pans .media_icon a {
    background: transparent;
}
.pans p a:hover {
    color: #fff;
    background: #15dac7
}

p.media_icon {
    display: flex;
    justify-content: space-around;
}

table th {
    color: #9ca7b4;
}

table td {
    color: #656d78;
}

table td span {
    color: #abb2ba;
}

table .tx {
    color: #ebcc86;
}

table .buy {
    color: #15dac7;
}

table .sell {
    color: #f35451;
}

td:first-child {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

td:last-child {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

table.table tbody tr:hover {
    background: #262e37;
}

.table th,
.table td {
    border: none !important;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link.connect {
    font-weight: bold;
    color: #2f3945;
    font-size: 16px;
}

.sidebar .nav:not(.sub-menu) > .nav-item:hover > .nav-link,
.sidebar .nav:not(.sub-menu) > .nav-item:hover[aria-expanded='true'] {
    background: transparent;
}
.makeStyles-card-2{margin: 0 auto}
span.pro_title {
    color: #fff;
    padding: 0 5px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 400;
}
div#promoted {
    color: #979797;
    margin-top: 8px;
}


.pro_price {
    color: #15dac7;
    padding-left: 5px;
    font-size: 11px;
}

.promo_tab ul {
    padding: 0;
    border: none;
}

div#promoted li {
    border-bottom: 1px solid rgb(255 255 255 / 8%);
}
.MuiGrid-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    background: #1A2038;
    justify-content: center;
}.MuiPaper-root.MuiCard-root.makeStyles-card-2.MuiPaper-elevation1.MuiPaper-rounded {
    box-shadow: none; margin: 0 auto;max-width: 100%;
}
.modal-popup-class i.fas.fa-times.pull-right {
    position: absolute;
    right: 16px;
    top: 16px;
    color: #fff;
    opacity: .7;
    font-size: 21px;
}
.modal-popup-class i.fas.fa-times.pull-right:hover {
    opacity:1;
}

.promo_tab li {
    line-height: 36px;
    list-style: none;
}
.promo_tab li {border-bottom: 0}
.promo_tab .nav-tabs li:last-child {
    margin-right: 0;
}
.promo_tab .nav-tabs li {
    margin-right: 10px;
}

.promo_tab {
    background: #131722;
    padding: 10px;
    border-radius: 12px;
}

.promo_tab .tab-content {
    border: none;
    padding: 0;
}

.promo_tab .nav-tabs a {
    background: #232a32;
    color: #9ca7b4;
    padding: 5px 4px;
    border-radius: 100px;
    text-transform: uppercase;
    font-size: 10px;
    margin: 0 0px;
    font-weight: 600;
}


.Paginator ul li button {
    color: #656d78;
}
.Paginator {
    position: absolute;
    right: 38px;
    background: #232a32;
    border-radius: 100px;
    bottom: -8px;
    padding: 5px 15px;
}
.Paginator ul li.icons button i {
    width: 10px;
    display: flex;
    font-size: 18px;
}

.Paginator ul li.active button, .Paginator ul li:hover button{color: #fff}
.Paginator ul li button {
    padding: 0;
    margin: 0 3px;
    width: auto!important;
    line-height: normal;
    font-size: 14px;
    font-weight: 600;
}
.LastTransactions .help-text {
    opacity:1;
    color: #9ca7b4;
    font-weight: 500;
}
div#drawing-toolbar {
    background-color: #131722!important;
}
.promo_tab .nav-tabs li .active {
    background: #15dac7;
    border-radius: 100px;
    color: #131722;
}

p.media_icon a:hover {
    color: #fff;background: transparent;
}

.alert_text h3 {
    font-weight: bold;
    margin: 20px 0 10px;
}
p.media_icon a:hover {
    background: transparent;
}
.modal-popup-class .MuiFormHelperText-root.MuiFormHelperText-contained.Mui-error.MuiFormHelperText-marginDense {
    position: absolute;
    top: 30px;
    left: -2px;
    font-weight: 700;
    font-size: 10px;
}
.pans .tag_btn a i {
    margin-left: 4px;
    font-size: 14px;
    vertical-align: middle;
}
.carousel-control-prev, .carousel-control-next {
    width: 22%;
}
.alert_text:last-child {
    padding: 0;
    margin: 0;
    border: none;
}

.alert_text p {
    color: #b9b9c8;
}

.alert_text {
    text-align: center;
    border-bottom: 1px solid #f7f7f7;
    padding-bottom: 25px;
    margin-bottom: 40px;
}

.content {
    margin-top: 20px;
    background: #232a32;
}

#navbarResponsive ul.navbar-nav li button.button {
   background: #ebcc86;
    color: #2f3945;
    padding: 6px 15px !important;
    border-radius: 100px;
    font-weight: 500;
    transition: all 200ms linear 0s;
    font-size: 16px;
    border: none;
}

#navbarResponsive ul.navbar-nav li button.button:hover {
    background: #15dac7;
    color: #131722;
}

.sise_title {
    font-size: 10px;
    color: #5d6671;
    text-transform: uppercase;
}

.sise_title b {
    margin-left: 15px;
    padding: 6px 10px;
    line-height: 21px;
    background: #232a32;
    display: inline-block;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-right: 8px;
    font-size: 12px;
}

.sise_title span a {
    color: #15dac7;
    text-decoration: underline;
}

.slide_box {
    background: #fff;
    text-align: center;
    margin: 15px 15px;
    border-radius: 12px;
}
nav#sidebar {
    overflow: hidden;
    border-radius: 12px;
}
#cruncy-chart {
      height: 68.5vh;
}

.alert_text2.text-center h4 {
    color: #fff;
}
button.btn-close {
    background: transparent;
    border: none;
    color: #fff;
    position: absolute;
    right: 6%;
    top: 10%;
    z-index: 9999;
    opacity: .8;
}
button.btn-close:before {
    content: "\f00d";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-size: 42px;
}
button.btn-close:hover {
    
    opacity: 1;
}
button.btn-close i {
    font-size: 33px;
    font-weight: 600;
}
.modal-popup-class .modal-body {
    background: #131722;
    border: 1px solid #15dac7;
    border-radius: 12px;
    box-shadow: 0 0 12px rgb(0 0 0);
    width: 506px;
    margin: 22% auto;
    height: 416px;
    padding: 50px;
}
.modal-popup-class .modal-content {
    background: transparent;
}
button.clear {
    background: #ef5350;
    color: #fff;
}
.modal-popup-class form li {
    display: flex;
    justify-content: space-between;
}
.modal-popup-class form li input, .modal-popup-class form li button {
    width: 184px;
    padding: 6px 12px;
    border: none;
    margin-bottom: 15px;
    border-radius: 100px;
    font-weight: 400;
    font-size: 12px;
    background: #ef5350;
    color: #fff;
    font-weight: 600;
}
.modal-popup-class ul {
    padding: 0;
}
button.accept {
    background: #15dac7;
}
.alert_text2.text-center h4 {
    color: #fff;
    /* margin: 38px 0 42px; */
    font-size: 18px!important;
    text-transform: uppercase;
}
.modal-popup-class form li:last-child {
    margin-top: 20px;
}
.modal-popup-class form button:hover {
    opacity: 1;
    background: #ef5350;
}
.modal-popup-class form button {
    text-transform: uppercase;
    opacity: 0.9;
    cursor: pointer;
    height: 37px;
    letter-spacing: 5px;
    background: #ef5350;
    color: #fff;
    padding: 10px;
    line-height: 16px;border-radius: 100px;
}.modal-popup-class form li:last-child button:last-child {
    background: #15dac7;
    color: #131722;
}
.modal-popup-class form button.primary-button {
    background: transparent;
}
.modal-popup-class form button.primary-button.capitalize:hover {
    background: #ef5350;
}
form span.mr-2.ml-5 {
    margin: 0 17px!important;
}
.LastTransactions .type.danger {
    color: #f35451!important;
}
.modal-popup-class form li:last-child button {
    height: auto;
    padding: 7px;
}
.modal-popup-class form li:last-child button {
    margin-bottom: 0;
}
.home-wrapper {
    background: #232a32;
      padding: 0 10px;width: 100%;
}
.content.main-content {
    margin: 0;
    padding-top: 30px;
}

.home-wrapper .h4,.home-wrapper h4 {
   font-size: 1.125rem!important;
}
i.fas.fa-bell.show_hover {
    color: #1dbaab!important;
}
.alert_icon i.mdi.mdi-heart {
    color: #ec514e!important;
}

p.media_icon a {
    width: 40px;
    height: 40px;
    padding: 6px 0px 0px 9px;color: #5d666a;
    font-size: 20px;
}

.pricing-table table {
    background: #2c343e;
    border-radius: 12px;
    padding: 10px 18px;
    display: inline-block;
}
.pricing-table .table thead th {
    text-align: center;
}
div#cruncy-chart {
    margin-bottom: 30px;
    height: 61.5vh;
}
div#cruncy-chart article {
    margin-bottom: 30px;
    background: #131722;
    border-radius: 12px;
    padding: 11px;
}
/*.pricing-table td {
    white-space: nowrap;
}*/
table .buy {
    color: #15dac7;
}

.content.main-content .col-md-2 {
    flex: 18%;
    max-width: 18%;
}
.content.main-content .col-md-10 {
    flex: 82%;
    max-width: 82%;
}
p.tag_btn img {
    margin-top: -1px;
}
.navbar-brand {
    display: inline-block;
    padding-top:0;
    padding-bottom: 0;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    width: 13%;
}


.sidebar_div ul:last-child {
    border-bottom: none!important;
}
.MuiOutlinedInput-notchedOutline {
    border-color: transparent;
}
.alert_text2 .MuiFormControl-root.MuiTextField-root.mb-6.w-full {
    width: 184px;
    padding: 2px 12px;
    border: none;
    height: 34px;
    border-radius: 100px;
    font-weight: 400;
    font-size: 12px;
    background: #fff;
    margin-bottom: 20px!important;
}
.modal-popup-class form li .MuiFormControl-root input {
    background: #fff;
    color: #4e5464;
    margin: 0;
    padding: 9px;
}
i.fas.fa-heart.show_hover {
    color: #ec514e;
}
.modal-popup-class .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
   
    border: none;
}
.modal-popup-class .MuiOutlinedInput-notchedOutline{  
    border: none;
}
.slide_box a img {
    width: 100%;
}
.fa-copy,.fa-times{
    cursor: pointer !important;
}
.trade_sub .dropdown-menu.show {
    position: relative!important;
    width: 100%;
    -webkit-transform: none!important;
    transform: none!important;
    background: #272f38;
    border: none;
       border-radius: 100px;
    display: flex;
    font-size: 11px;justify-content: space-between;
    margin-top: 12px;    padding: 5px 0;
}
.trade_sub .dropdown-menu.show a:hover {
    background: transparent;
    color: #15dac7;
}

.trade_sub .dropdown-menu.show a {
    border-right: 1px solid rgb(255 255 255 / 24%);
    border-radius: 0;
    font-weight: 400;
    text-transform: uppercase;
    background: transparent;
    width: 33%;
    font-size: .7em;
}
a#dropdownMenuButton {
    margin-top: -19px;
}.pans {
    width: 100%;
}.dropdown.trade_sub.show a#dropdownMenuButton {
    background: #15dac7;
    color: #fff;
}
.trade_sub .dropdown-toggle::after{display: none;}
.trade_sub .dropdown-menu.show a:last-child {
    border-right: 0;
}

/*--------------------------contact page--------------------------*/

.contact-us-wrapper {
    background: #2c343e;
    padding: 42px;
    color: #fff;
}
.contact-us-wrapper h3 {
    text-align: center;
    font-size: 36px;
}
.contact-us-wrapper form input {
    background: #131722;
    border-radius: 100px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 18px;
}
.MuiOutlinedInput-notchedOutline {
    display: none;
}
.contact-us-wrapper form textarea {
    background: #131722;
    border-radius: 12px;
    border: none;padding: 15px;color: #fff;    outline: none;
}
.about_text {
    color: #a9a4a4;
}
.about_text {
    text-align: center;
    color: #87919d;
    background: #2c343e;
    padding: 100px;
    border-radius: 12px;
}

.contact-us-wrapper form button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary:hover {opacity:1}
.contact-us-wrapper form button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary {
    background: #15dac7;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 100px;
    padding: 10px 37px;    opacity: .8;
}
.contact_section {
    background: #131722;
    border-radius: 12px;
    padding: 80px 50px;
    color: #9ca7b4;
}
.contact-us-wrapper .MuiInputLabel-outlined {
    color: rgb(117 116 120)
}

.contact_section .media_icon {
    justify-content: flex-start;
}.contact_media {
    font-size: 20px;
    margin-top: 40px;
}
.contact-us-wrapper form {justify-content: space-between;
    display: flex;
    flex-wrap: wrap;padding: 0 30px;
}.contact-us-wrapper form div {
    width: 48%;
}.contact-us-wrapper form div .MuiOutlinedInput-root {
    width: 100%;
}
.contact-us-wrapper form .MuiOutlinedInput-input{
    width: 100%;
}.contact-us-wrapper form .MuiFormControl-root{
    width: 100%;
}

/*--------------------------contact page--------------------------*/




/*--------------------------frontend header--------------------------*/
li.nav-item.dropdown.show .dropdown-menu {
    display: block;
}
.sub_menu{
    background: #131722;
}
li.nav-item.dropdown.user_profile .dropdown-toggle {
    background: #232a32;
    border-radius: 100px;
    width: 48px;
    height: 48px;
}
nav.navbar.navbar-expand-lg.header #navbarSupportedContent li div a {
    padding: 10px 15px;
    min-height: auto;
}
nav.navbar.navbar-expand-lg.header #navbarSupportedContent li a {
    color: #87919d;
    min-height: 48px;
    padding: 14px 10px;
}
.header a.navbar-brand {
    padding: 0px 0;
}
a.navbar-brand img {
    width: 60px;
}
nav.navbar.navbar-expand-lg.header {
    background: #131722;
}
nav.navbar.navbar-expand-lg.header .row {
    width: 100%;
}
div#navbarSupportedContent .navbar-nav {
    justify-content: right;
    width: 100%;
}button.navbar-toggler span {
    background: #131722;
    width: 23px;
    height: 1px;
    margin: 6px 0;
    display: flex;
}
button.navbar-toggler {
    background: #2c343e;
    position: absolute;
    right: 11%;
    top: 15%;
}
nav.navbar.navbar-expand-lg.header #navbarSupportedContent li a:hover {
    color: #fff;
}
#show-search-symbols {
    height: 300px;
    overflow: scroll;
    background-color: #2f3945;
    list-style-type: none;
    border-radius: 12px;
    margin-top: 10px;
    color: #fff;
    padding: 12px;overflow-x: hidden;position: absolute;
    z-index: 2;
}

#show-search-symbols li:hover {
    background-color: #232a32;
    cursor: pointer;
    color: #f1f1f1;border-radius: 100px;
}
#show-search-symbols li {
    padding: 6px 15px;
}

.footer {
    background: #131722;
    color: #87919d;text-align: center;    padding: 15px 0;

}
.footer li {
    list-style: none;
    margin: 0 10px;
}
.footer ul {
    padding: 0 0 10px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(87 88 94);
}.footer li a:hover {
    color: #fff;
    text-decoration: none;
}
.search .MuiAutocomplete-hasPopupIcon {
    height: 38px;
    width: 360px;
    color: #fff;
    background: #2f3945;
    border-radius: 100px;
    padding: 0 15px;
    border: none;
}
.search .MuiAutocomplete-root.MuiAutocomplete-hasClearIcon.MuiAutocomplete-hasPopupIcon {
    width: 450px!important;
    background: #2c343e;
    border-radius: 100px;}
    .search .MuiInputBase-input#combo-box-demo {
    background: transparent;
    color: #fff;
}
.pricing-table .hLGqlg .kntihR {
    background: #2c343e;
    border-radius: 12px;
    color: #87919d;
}.pricing-table .hLGqlg {
    background: #2c343e;
    border-radius: 12px;
    color: #87919d;
}


.MuiInputBase-input#combo-box-demo{
    background: white;
}

.pricing-table .sc-dkPtRN.hCBnvI.rdt_TableHeadRow {
    background: #2c343e;
    border-radius: inherit;
    color: #9ca7b4;
}
.pricing-table .fhCFWO {
    background: #2c343e;
    color: #656d78;border-radius: 100px;
}
.pricing-table .fhCFWO:hover {
    background: #262e37;
}

.pricing-table .fvAeSn {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
}
.pricing-table .sc-hKwDye.sc-eCImPb.sc-iqseJM.bVYdcq.dzcLoW.iwmeYY.rdt_TableCol {
    text-align: center;
    justify-content: center;
}
.pricing-table .dzcLoW {
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 500;
}
.search .MuiAutocomplete-hasPopupIcon{padding-top: 0;}
.pricing-table .sc-hGPBjI.fuBVgf.rdt_TableBody {
    padding: 0 5px;
    height: 225px;
    overflow-y: auto
}
.pricing-table nav.sc-iJKOTD.bhoXfZ.rdt_Pagination {
    background: #2c343e;color: #656d78;
}
button#pagination-next-page {
    background: #656d78;
}
.search .MuiInputBase-root{padding-top: 0!important}
.pricing-table .MuiPaper-root{background: transparent;}
.price span.negative-number {
    color: red;
}
span.buy-type {
    color: #15dac7;
    text-transform: uppercase;
    font-weight: 500;
}span.tx_hash-type {
    color: #ebcc86;
}.hkMDrI::-webkit-scrollbar {
    width: 15px;    height: 15px;

}
 
.hkMDrI::-webkit-scrollbar-track {
    background-color: #131722;
    border-radius: 100px;
}
 
.hkMDrI::-webkit-scrollbar-thumb {
    background-color: #232a32;
    border-radius: 100px;
}
.pricing-table .sc-hGPBjI.fuBVgf.rdt_TableBody ::-webkit-scrollbar {
    width: 5px;
}
.pricing-table .MuiCard-root {
    background: #2c343e;
    min-height: 341px;
}

 
.pricing-table .sc-hGPBjI.fuBVgf.rdt_TableBody ::-webkit-scrollbar-track {
    background-color: #131722;
    border-radius: 100px;
}
 
.pricing-table .sc-hGPBjI.fuBVgf.rdt_TableBody ::-webkit-scrollbar-thumb {
    background-color: #232a32;
    border-radius: 100px;
}
.login_form {width: 550px;
    background: #2c343e;
    padding: 30px 70px;
    text-align: center;
    color: #9ca7b4;
    margin: 66px auto;
    border-radius: 16px;
}

.login_form .MuiInputBase-input {
    background: transparent;
    border-radius: 100px;
    color: #fff;
    margin-bottom: 10px;
}
.login_form label span {
    color: #9ca7b4;
}
.footer a:hover {
    color: #15dac7;}
.footer a {
    color: #9ca7b4;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}
.login_form button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary {
    background: #15dac7;
    border-radius: 100px;
    color: #fff;
}

.login_form span.MuiButton-label{
    color: #9ca7b4;}
.buton-css {
    justify-content: center;
}
.login_form {
    background: #2c343e;
    padding: 30px 70px;
    text-align: center;
    color: #9ca7b4;
}
.login_form .signin span.MuiButton-label{color: #fff}


.login_form .MuiFormHelperText-root.Mui-error {
    color: #FF3D57;
    margin-top: -9px;
}
.login_form h4 {color: #fff;
    padding-bottom: 20px;
}
.footer {
    background: #2c343e;
    color: #7e8087;
    text-align: center;    padding: 15px 0;
}
.alert_text2.text-center h5{
    color: white;
    font-size: 12px;
    margin: 10px;
}
.modal-popup-class .MuiOutlinedInput-root {
    position: relative;/*
    background: #0b0d0f;*/
    border-radius: 100px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 18px;
}
.login_form {
    background: #2c343e;
    padding: 30px 70px;
    text-align: center;
    color: #9ca7b4;
    margin: 66px auto;
}
.modal-popup-class button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary {
    background: #15dac7;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 100px;
    padding: 23px 25px;
    opacity: .8;
}
.modal-popup-class .flex.flex-wrap.items-center.mb-4 {
    text-align: center;
    justify-content: center;
    width: 100%;
    display: flex;align-items: center;
}
.relative button.primary-button {
    background: #15dac7!important;
    font-size: 18px;
    border-radius: 100px;
    opacity: .8;
    padding: 0 25px;
}
.modal-popup-class form button {
    text-transform: uppercase;
    opacity: 0.9;
    cursor: pointer;
    height: 37px;
    letter-spacing: 5px;
    background: #ef5350;
    color: #fff;
}

.ExplorerPage .textWithSmallButton .button:hover {
    background-color: #15dac7!important;
}
button.primary-button.text-primary {
    color: #fff!important;
    font-size: 14px!important;
}
span.mr-2.ml-5 {
    margin: 0 15px;
}

.modal-popup-class button.MuiButtonBase-root.MuiButton-root.MuiButton-text.text-primary span {
    color: #9ca7b4;
}.modal-popup-class button.MuiButtonBase-root.MuiButton-root.MuiButton-text.text-primary span:hover {
    color: #fff;
}
.modal-popup-class {
    color: #9ca7b4;
}
.modal-popup-class span.MuiButton-label {
    color: #9ca7b4;
}
.modal-popup-class span.MuiButton-label:hover{color: #fff;}
.modal-popup-class label.MuiFormControlLabel-root.mb-3.min-w-288 {
    width: 100% !important;
    padding-left: 5px;
}
.modal-popup-class h4{margin:0px 0 25px}
.modal-popup-class button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary span {
    color: #fff;
}.login_form button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary span {
    color: #fff;
}
.modal-popup-class button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.capitalize span {
    color: #fff;
}.login_form span.MuiButton-label:hover {
    color: #fff;
}
.heart-filled, .bell-filled{
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
}
.mobile_area {
    display: none;
}
#modal .modal-body {
    background: #131722;
    border: 1px solid #15dac7;
    border-radius: 12px;
    box-shadow: 0 0 12px rgb(0 0 0);
    width: 506px;
    height: 416px;
    padding: 50px;
    max-width: 506px;
}
.alarm-modal__input {
    width: 48%;
    height: 20px;
    border-radius: 100px!important;
}

h3.alarm-modal__heading {
    text-align: center;
    color: #fff;
}
.alarm-modal__input-label {
    color: #fff;
}
.Switch input:checked ~ .overlay {
    background-color: #272f38!important;
}
.Bell:hover i{color: #9ca7b4!important;}
button.alarm-modal__btn {
    width: 48%;
    padding: 6px 12px;
    border: none;
    margin-bottom: 15px;
    border-radius: 100px;
    font-weight: 400;
    font-size: 12px;
    background: #ef5350;
    color: #fff;
    font-weight: 600;
}
i.icon-bell-alt {
    display: none;
}
.alarm-modal__footer-btn-container button.alarm-modal__btn:last-child {
    background: #15dac7;
}
.alarm-modal__footer-btn-container {
    justify-content: space-between;
}
.relative.button_css {
    display: inline-flex;
}
.MuiPaper-root {
    max-width: 100%!important;
}
.right_side {
    width: 100%;
}
.dropdown.trade_sub a {
    padding: 4px 15px;
    border-radius: 100px;
    float: right;
    text-decoration: none;
    background: #272f38;
}.dropdown.trade_sub a:hover {
    background: #15dac7;color: #fff;
}
.trade_sub .dropdown-menu.show a {
    color: #b2b9c1;
    padding: 4px 5px;
    float: right;
    text-decoration: none;
}
@media only screen and (max-width: 1500px){
 .trade_sub .dropdown-menu.show a{
    padding: 1px 4px;
    font-size: 8px;
}
body .min-h-full-screen{
   min-height:77vh!important;}
    
}

@media only screen and (max-width: 1000px){
.Container {
    padding: 0 10px!IMPORTANT;
}

}
@media only screen and (max-width: 767px){
    a#dropdownMenuButton1 {
       position: inherit; 
         right: 0; 
        top: -0;
    }    
    .desktop_view {
        display: none!important;
    }
    .copy_text.token_infoo {
        margin-bottom: 15px;
    }
   
.login_form {width: 100%;}
.Card .Body {
    margin-bottom: 0;}
    	.sidebar_div {margin-left: 0;
    max-width: 100%;
}
.promo_tab {
    margin-top: 30px;
}.ExplorerPage .col-md-7 {
    padding-right: 0px;
}
.Paginator {
    bottom: -21px;
}
	div#navbarResponsive {
    position: absolute;
    top: 0;
    background: transparent;
    padding-right: 13px;
    width: 100%;box-shadow: none;
}

.mobile_area {
    display: block;
}
.trade_sub .dropdown-menu.show {
    position: absolute!important;
    width: 136px;
    right: 0!important;
   
    left: auto!important;
    top: 17px!important;
}
.search {
    margin-left: 0;
    order: 3;width: 100%;
    margin-top: 10px;
}

div#navbarResponsive {
       order: 2;
    flex-basis: auto;
}
.navbar-nav.ms-auto {
 flex-direction: initial;
    width: auto;
}
#navbarResponsive ul.navbar-nav li button.button {
    padding: 3px 8px !important;
    font-size: 13px;
}
#navbarResponsive ul.navbar-nav li a {
    font-size: 12px;
    font-weight: 600;
}
.search .MuiAutocomplete-root.MuiAutocomplete-hasClearIcon.MuiAutocomplete-hasPopupIcon {
    width: 100%!important;
}
.search .MuiAutocomplete-root.MuiAutocomplete-hasClearIcon.MuiAutocomplete-hasPopupIcon {
        border-radius: 12px;padding: 0 5px;
}
.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
    padding-right: 30px;
}
.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
    padding: 0px;
}
.icon img {
    width: 30px;
}
nav#mainNav {
    padding-bottom: 10px;
}
.content.main-content .col-md-2 {
    flex: 100%;
    max-width: 100%;
}
.content.main-content .col-md-10{
    flex: 100%;
    max-width: 100%;
}
.pricing-table{
    flex: 100%;
    max-width: 100%;
}
.content.main-content .col-4.col-xl-4.mb-12.mb-xl-0{
    flex: 100%;
    max-width: 100%;
}nav#mainNav .navbar-brand img {
    width: 40px;
}

.pro_title{
    cursor:pointer !important;

}

.Mobile_head {
    background: #1d242c;
    border-radius: 12px;
    margin: 15px 0;
    padding: 10px;
}
li.ada_logo img {
    width: 30px;
}
.Mobile_head li {
    list-style: none;
    font-size: 10px;
    margin-top: 0;
    color: #9ca7b4;
    text-transform: uppercase;
}.Mobile_head li a {
    padding: 0;color: #9ca7b4;
}
.Mobile_head ul{     padding: 0;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: space-between;}

.Mobile_head li .price {
    display: flex;
    vertical-align: middle;
}
.Mobile_head li .price p{
    margin: 0;}
.Mobile_head li h5{
font-size: 10px;
    margin: 0;    line-height: normal;
    color: #9ca7b4;display: inline-block;
    text-transform: uppercase;}
    .Mobile_head p {
    margin: 0;
    font-weight: 500;
}

element.style {
}
.token-info-toggle.collapsed {
    background: #131722;
    padding: 7px!important;
    border-radius: 4px;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-left: 5px;color: #fff!important;
}
.token-info-toggle {
    background: #12defa;
    padding: 7px!important;
    border-radius: 4px;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-left: 5px;color: #fff!important;
}
.Mobile_head p {
    margin: 0;
    font-weight: 500;
}
.Mobile_head p span{
   color: #16dbc7
}


.top_drop.show {
    display: block;
    width: 100%;
    right: 20px;
    left: auto!important;
    top: 174px!important;
    border-radius: 10px;
}
div#myContent {
    background: #2c343e;
    padding: 15px;
    border-radius: 10px;
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0;    z-index: 1;
}
.right_side {
    width: 47%;
}
.market_cap.token_infoo {
    margin-bottom: 15px;padding-bottom: 0px;
}

.left_side {
    width: 47%;
}
.token_infoo {
    display: flex;
    justify-content: space-between;
}
.alarm-modal__flex {
    display: flex;
    justify-content: space-between;
}
.copy_text.token_infoo .copy {
    margin: 0px 0;
    display: inline-block;padding: 10px;
}
.copy_text.token_infoo li.nav-item.alert_icon{
    margin: 0px 0;}

div#myContent h4 {
    color: #9ca7b4;
}
div#myContent p {
    color: #9ca7b4;
    font-size: 12px;
}

div#myContent p.tag_btn {
    display: flex;
    justify-content: space-between;padding-top: 10px;
}
div#myContent p.media_icon a {
    padding: 0;
    margin: 0 0 0 21px;
    height: auto;
    width: 20px;
}
div#myContent p.media_icon {
    display: flex;
    justify-content: initial;
    align-items: center;margin-bottom: 0!important
}
div#nav-tab {
    border: none;
    background: transparent;
}

.mobile_area .chart_tab {
    display: flex;
    justify-content: space-between;
}
.mobile_area .chart_tab a.active {
    background: #12defa;border: none;
    color: #fff;
}
.LastTransactions .table-responsive {
    overflow-x: auto;
    max-width: 100%!important;
}
.mobile_area .chart_tab a {
    background: #1d242c;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    color: #707175;
    font-weight: 500;
    border: none;
}
a#info:hover {
    color: #12defa;
}
div#myContent p.tag_btn img {
    height: 18px;
}
.mobile_area div#cruncy-chart {
    margin-bottom: 20px;
    height:auto
}
    .mobile_area div#nav-tabContent {
    margin-bottom: 15px;
}
.sidebar_div.mobile_add {
    display: block;
    margin-top: 20px;
}
.content.main-content {
    display: none;
}
.modal-popup-class .modal-body {
    width: 100%;
    height: auto;}
}
.token-img-auto{
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
}
.list_img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.search_listing {
    display: flex;
}
ul#combo-box-demo-popup {
    background: #2c343e;
    color: #9ca7b4;
    min-height: 300px;
}
.hide{
    display:none;
}
.show{
    display:block;
}
.MuiAutocomplete-paper {
    margin: 4px 0;
    overflow: hidden;
    font-size: 14px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}
.MuiAutocomplete-loading {
    color: rgba(52, 49, 76, 0.54);
    padding: 14px 16px;
}
.clearsearchIcon{
    margin-left: -29px;
    color: white;
}
.trend-img {
    height: 20px;
    width: 20px;
}
.pricing-table .eBauma {
    color: #87919d;
    background-color: rgb(44 52 62);
}
.pro_title{
    cursor:pointer;
}
.explorer-img{
    height:70%;
    width:70%;
}
.paste-symbol{
    margin-left: -55px;
    color: white;
    cursor:pointer;
}
.ExplorerPage .LastTransactions {box-shadow: none;
    background: #2c343e;margin-top: 0px;
    padding-bottom: 15px;
}
.LastTransactions th {
    color: #9ca7b4!important;
}
    .ExplorerPage .LastTransactions tbody tr:hover {
    background: #262e37;
}
.LastTransactions table tbody tr:hover td{background-color:transparent}
.LastTransactions table tbody tr td {
        color: #656d78!important;}
.LastTransactions a {
    color: #ebcc86;
}    
.favouritePair h3,.textWithSmallButton.pair-address {
    display: none;
  }
  
  .type.danger {
    color: red !important;
  }

.LastTransactions table tbody tr td:nth-child(2) {

    text-align: left;
    padding-left: 0;

}
.type.success {

    color: #15dac7 !important;

}
input::-webkit-input-placeholder {
    font-size: 11px;
   
}