.Favorite {
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 12px;
  font-size: 17px;
  width: 32px;
  height: 32px;
  position: relative;
  color: #243264;
  cursor: pointer;
  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.15s linear, color 0.15s linear;
  }
 

  .icon-heart {
    opacity: 0;
  }

  &:hover {
    i {
      opacity: 1;
      color: #e99837;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: initial;
  }
}

.Favorite.isFavourite {
  background-color: #e99837;

  &:hover {
    i {
      opacity: 1;
      color: #fff;
    }
  }
}
